$font-stack: sans-serif, Helvetica;

$white-colour: #FDFDFD;
$black-colour: #1C1C1C;
$grey-colour: #d3d3d3;
$primary-colour: #2974b9;
$primary-colour-dark: #1b4d7a;
$primary-colour-light: #408ed5;

$background-image: "../images/confectionary.png";

$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

$border-width: 0.2em;