$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

// Load variables
@import 'variables';

// Body
body{
    font-family: $font-stack;
    color: $primary-colour;
    background-color: $white-colour;
    a, p{
        color: $primary-colour;
    }
    blockquote{
        color: $black-colour;
    }
}


// Main content
main{
    padding-top: 18px;
    padding-bottom: 18px;
    background-image: url("../images/confectionary.png");
    min-height: 400px;
    // Portfolio
    .card{
        background-color: $white-colour;
        margin-top: 10px;
        position: relative;

        .card-content {
            padding: 10px;    
        }

        .card-content .card-title, .card-reveal .card-title{
            font-size: 24px;
            font-weight: 200;
        }

        .card-action{
            padding: 20px;
            border-top: 1px solid rgba(160, 160, 160, 0.2);
            a{
                font-size: 15px;
                color: $primary-colour-light;
                text-transform:uppercase;
                margin-right: 20px;
            }

        }
        .card-image{
            background-color: $grey-colour;
            height: 300px;
            img{
                margin: 0 auto;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }
        }
        .card-image:hover img{
        }
    }


    .card .card-reveal{    
        padding: 20px;
        position: absolute;
        background-color: #FFF;
        width: 100%;
        overflow-y: auto;
        /*top: 0;*/
        left:0;
        bottom:0;
        height: 100%;
        z-index: 1;
        display: none;
        p{
            color: rgba(0, 0, 0, 0.71);
            margin:20px ;
        }
    }

    .card .card-image{
        overflow: hidden;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    // Portfolio Item
    .portfolio-item {
        margin-bottom: 25px;
    }

    .back{
        margin-top: 25px;
    }

    .item{
        max-height: 250px;
    }

    .links-list{
        list-style: none;
        padding-left: 12px;
    }
    .slider-control{
        .slider-switch-bar{
            text-align: center;
            padding-top: 1px;

            li{
                padding: 0;            margin: 0;

                button{
                    border-radius: 0;
                    border: none;
                    height: 45px;
                    width: 45px;
                    padding: 0;
                    background-color: $primary-colour-dark;
                    color: $white-colour;
                    border: none;
                    
                    &.active, &:focus, &:hover{
                        background-color: $white-colour;
                        color: $primary-colour-dark;
                        border: none;
                    }

                    &.active{
                        &:focus, &:hover{
                            color: $black-colour;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

// Navigation Menu
nav{
	background-color: $primary-colour;
    
    
    .container{
        margin-left: 12px;
        margin-right: 12px;
        
    }

    ul{
        padding-top: 1px;
        padding-bottom: 1px;
    }
    
    // @media (min-width: @screen-md-min)){
    //     .container{
    //         width: 100%;
    //     }
    // }

    #title{
        color: $white-colour;
        display: inline;
        font-size: 25px;
    }
    ul{
        li{
            background-color: $primary-colour-light;
            font-weight: bold;
            border-right: $primary-colour 1px solid;
            a{
                color: $white-colour;
                font-weight: bold;
            }
            min-width: 60px;
            text-align: center;

            &.active, &:focus, &:hover{
                background-color: $white-colour;
                a{
                    color: $primary-colour-dark;    
                }
            }

            &.active{
                &:focus, &:hover{
                    a{
                        color: $black-colour;
                    }
                    background-color: $white-colour;
                }
            }
        }

        li:last-child{
            border-right: none;
        }
    }

    &.navbar{
        border-radius: 0;
        margin-bottom: 0;
    }

    .navbar-nav {
        float: right;
    }
}


// Header
header{
	#profile-photo{
		// padding-top: 6px;
		height: 150px;
		margin: 6px auto 6px auto;
	}

    blockquote{
        padding-bottom: 0;
        margin-bottom: 0;
        padding-top: 0;
        margin-top: 10px;
    }
    .social-media-bar{
        margin: 0;
        float: right;
        // margin-top: 6px;

        @media(max-width: $screen-sm-min){
            float: none;
            margin-top: 6px;
            text-align: center;
        }

        li{
            border-right: $border-width $white-colour solid;
            padding: 0;
        }

        li:last-child{
            border-right: none;
        }

        .btn{
            border: 0;
            border-radius: 0;
            background-color: $primary-colour;
            color: $white-colour;

            &:focus, &:hover{
                background-color: $primary-colour-light;
                color: $primary-colour-dark;
                border: none;
            }
        }

        .button-bar{
            margin-bottom: 1px;
        }
    }
}

// Footer
footer{
	background-color: $primary-colour-light;
	margin-bottom: 0;
	text-align: center;
	color: $white-colour;
	padding-bottom: 1.5em;
    
    h3{
        text-align: left;
    }

    .devicon{
        font-size: 4em;
    }

    .built-with-item{
        border-left: $border-width $white-colour solid;
    }

    .built-with-item:first-child{
        border-left: none;
    }
}