<!-- Navigation -->
<nav id="menu" data-ng-controller="MenuCtrl" class="navbar" role="navigation">
    <div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button data-ng-init="navCollapsed = true" data-ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only" data-translate="GLOBAL.TOGGLE_NAVIGATION"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/">
                <h1 id="title" 
                    data-translate="GLOBAL.WEBSITE_TITLE" data-translate-value-name="{{name}}"></h1>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div data-uib-collapse="navCollapsed" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="menu-items" class="nav navbar-nav">
                <li data-ng-class="{'active' : isDefaultPage()}">
                    <a href="#/" data-translate="GLOBAL.ALL_ITEMS"></a>
                </li>
                <li 
                    data-ng-repeat="technology in technologies"
                    data-ng-class="{'active': isCurrentTechnology('{{technology}}')}">
                    <a data-ng-href="#/technology/{{technology}}">
                        {{technology}}
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>